extends layout

block content
  include ./fragments/auth-nav.jade
  .container.text-center
    div
      .col-sm-6
        form(action="/dashboard" method="post" )
          .form-group
            h1 Add a new book
            input.form-control(type="text" id='addBook' required name="book" placeholder="lord of the ...")
            button.btn.navbar-btn(type="submit") Add 
            if(dashError !== undefined)
              .alert.alert-danger
                small #{dashError}
      .col-sm-6
        h1 Book request status
        button.btn.btn-info.btn-block You have made 
          span.badge #{bookReq.length} 
          |  trade request
        each req in bookReq
          button.btn.btn-default.navbar-btn #{req.bookname} 
            span.badge #{req.status}
          |    
           
        button.btn.btn-info.btn-block You have  
          span.badge #{bookReqMess.length}
          |  trade request
        each mess in bookReqMess
          button.btn.navbar-btn #{mess.bookname} 
            if mess.status
              span.badge #{mess.action}
            else
              span.who(id=mess.who)
              span.badge.glyphicon.glyphicon-remove(id='gly-remove') 
              |  
              span.badge.glyphicon.glyphicon-ok(id="gly-ok") 
          |     
                 
    div
      .col-sm-12.your-books
        h1 Your Books 
        .row
          each book in data 
            - var escBoknam = book.bookname.replace(/ /g,'_')
            .col-sm-6.col-md-4(class=escBoknam)
              .thumbnail
                - var isb=book.bookisbn
                img(src='https://covers.openlibrary.org/b/isbn/'+isb+'-L.jpg' )
                .caption
                  h3=book.bookname
                  a.btn.btn-sm.btn-danger.delbook(id=escBoknam, role="button") Delete Book
                 
  
 